<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


<nav class="navbar navbar-expand-md" style="background-color: #3D4849;">
    <a class="navbar-brand" href="https://www.klaviyo.com/"><font color=#22e490>Klaviyo</font></a>
</nav>

<div class="jumbotron text-center" >

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message|safe}}
    {% endfor %}
  {% endif %}
{% endwith %}


<form method="POST">
        <br>
        Please enter your email Here: <input name="email">
        <br>
        <br>
        Please enter your city Here: <select class="selectpicker" data-live-search="true" name="city"
                                             data-dropup-auto="false">
            {% for city in cities %}
            <option value= "{{city}}" SELECTED>{{city}}</option>"
            {% endfor %}
            </select>
        <br>
        <br>
        <input type="submit" value="Submit Email">
    </div>
</form>
</div>
