<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>



<form method="POST">
    <div>
        Please enter your email Here: <input name="text">
        <br>
        <br>
        Please enter your city Here: <select class="selectpicker" data-live-search="true" name="city">
            {% for city in cities %}
            <option value= "{{city}}" SELECTED>{{city}}</option>"
            {% endfor %}
            </select>
        <input type="submit">
    </div>
</form>




